<!DOCTYPE html>
<html>
    <head>
        <title>Some HTML in here</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </head>
    <body>
        <h1 class="text-primary">ここがCookりさんのページです！</h1>
        <h2>タグ一覧</h2>
        <h3>肉</h3>
        <ul>
            <li><a class="badge bg-secondary me-1" href="/result">鶏もも肉</a></li>
            <li><a class="badge bg-secondary me-1" href="/result">豚バラ肉</a></li>
            <li><a class="badge bg-secondary me-1" href="/result">豚こま肉</a></li>
        </ul>
        <h3>野菜</h3>
        <ul>
            <li><a class="badge bg-secondary me-1" href="/result">ピーマン</a></li>
            <li><a class="badge bg-secondary me-1" href="/result">なす</a></li>
            <li><a class="badge bg-secondary me-1" href="/result">じゃがいも</a></li>
            <li><a class="badge bg-secondary me-1" href="/result">きゅうり</a></li>
            <li><a class="badge bg-secondary me-1" href="/result">玉ねぎ</a></li>
        </ul>
        <h3>調味料</h3>
        <ul>
            <li><a class="badge bg-secondary me-1" href="/result">おろしにんにく</a></li>
        </ul>
    </body>
</html>